{% extends 'ipe_roxo/partials/base.html' %}
{% load static %}


{% block title %}À Sombra do Ipê{% endblock %}

{% block content %}
  {% include 'ipe_roxo/partials/nav_login.html' %}

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card shadow">
          <div class="card-body">
            <h2 class="card-title text-center fw-bold mb-4">Bem-vindo! </h2>

            {% if messages %}
              <div class="container mb-3">
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
              </div>
            {% endif %}

            <form method="POST" class="p-2">
              {% csrf_token %}

              <!-- Campo de email -->
              <div class=" mb-3">
                <label for="email" class="form-label">E-mail</label>
                <div class="input-group">
                  <span class="input-group-text"><i class="bi bi-at"></i></span>
                  <input type="email" class="form-control" placeholder="Digite seu e-mail" name="email" required>
                </div>
              </div>

              <!-- Campo de senha -->
              <div class="mb-3">
                <label for="senha" class="form-label">Senha</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
                    <input type="password" class="form-control" placeholder="Digite sua senha" name="senha" required>
                </div>
              </div>

              <!-- Link de esqueceu a senha -->
              <div class="d-flex justify-content-end mb-3">
                <small><a href="{% url 'trocar_senha' %}" class="text-decoration-none">Esqueceu a senha? <strong>Clique aqui</strong></a></small>
              </div>

              <!-- Botão de login -->
              <div class="d-grid">
                <button type="submit" class="btn btn-success ">Acessar</button>
              </div>
            </form>
          
          </div>
        </div> 
      </div>
    </div>
  </div>
{% endblock %}
