{% extends 'ipe_roxo/partials/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/colab.css' %}">

{% include 'ipe_roxo/partials/navbar_colaborador.html' %}

<!-- CONTEÚDO PRINCIPAL -->
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow">
          <div class="card-body">
            <h1 class="card-title text-center mb-4 fw-bold">
              🌱 Novo Plantio
            </h1> 
            <hr>
            {% if messages %}
              <div class="container mt-3">
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    {{ message }} 
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.non_field_errors }}

              {% for field in form %}
                <div class="mb-3">
                  <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                  {{ field }}
                  {% if field.help_text %}
                    <div class="form-text">{{ field.help_text }}</div>
                  {% endif %}
                  {% for error in field.errors %}
                    <div class="text-danger small">{{ error }}</div>
                  {% endfor %}
                </div>
              {% endfor %}

          <!-- Botões -->
              <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn btn-outline-success px-4">✅ Salvar</button>
                <a href="{% url 'home_colaborador' %}" class="btn btn-outline-danger px-4">
                  ❌ Voltar
                </a>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

